lv_port_linux/.config 
lv_port_linux/.config.old
lv_port_linux/build_arm/
lv_port_linux/build_arm/
lv_port_linux/build_host/
lv_port_linux/compile_commands.json
lv_port_linux/.deps
lv_port_linux/env
lv_port_linux/.cache/*
lv_port_linux/example/
lv_port_linux/docker/
lv_port_linux/boards/
lv_port_linux/3d/

lv_port_linux/README.md
platform/windows/media_forwarder/obj
platform/windows/media_forwarder/bin
platform/windows/media_forwarder/.vs
src/platform/windows/media_forwarder/.vs/ProjectEvaluation/media_forwarder.metadata.v10.bin
src/platform/windows/media_forwarder/.vs/ProjectEvaluation/media_forwarder.projects.v10.bin
src/platform/windows/media_forwarder/.vs/ProjectEvaluation/media_forwarder.strings.v10.bin
src/platform/windows/media_forwarder/.vs/media_forwarder/CopilotIndices/18.10.1189.45219/SemanticSymbols.db
src/platform/windows/media_forwarder/.vs/media_forwarder.slnx/DesignTimeBuild/.dtbcache.v2
src/platform/windows/media_forwarder/.vs/media_forwarder.slnx/v18/.futdcache.v2
.gitignore
src/platform/windows/media_forwarder/obj/media_forwarder.csproj.nuget.dgspec.json
src/platform/windows/media_forwarder/obj/media_forwarder.csproj.nuget.g.props
src/platform/windows/media_forwarder/obj/media_forwarder.csproj.nuget.g.targets
src/platform/windows/media_forwarder/obj/project.assets.json
src/platform/windows/media_forwarder/obj/project.nuget.cache
src/platform/windows/media_forwarder/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
src/platform/windows/media_forwarder/obj/Debug/net10.0/apphost.exe
src/platform/windows/media_forwarder/obj/Debug/net10.0/media_forwarder.AssemblyInfo.cs
src/platform/windows/media_forwarder/obj/Debug/net10.0/media_forwarder.AssemblyInfoInputs.cache
src/platform/windows/media_forwarder/obj/Debug/net10.0/media_forwarder.assets.cache
src/platform/windows/media_forwarder/obj/Debug/net10.0/media_forwarder.csproj.BuildWithSkipAnalyzers
src/platform/windows/media_forwarder/obj/Debug/net10.0/media_forwarder.csproj.CoreCompileInputs.cache
src/platform/windows/media_forwarder/obj/Debug/net10.0/media_forwarder.csproj.FileListAbsolute.txt
src/platform/windows/media_forwarder/obj/Debug/net10.0/media_forwarder.dll
src/platform/windows/media_forwarder/obj/Debug/net10.0/media_forwarder.GeneratedMSBuildEditorConfig.editorconfig
src/platform/windows/media_forwarder/obj/Debug/net10.0/media_forwarder.genruntimeconfig.cache
src/platform/windows/media_forwarder/obj/Debug/net10.0/media_forwarder.GlobalUsings.g.cs
src/platform/windows/media_forwarder/obj/Debug/net10.0/media_forwarder.pdb
src/platform/windows/media_forwarder/obj/Debug/net10.0/media_forwarder.sourcelink.json
src/platform/windows/media_forwarder/obj/Debug/net10.0/ref/media_forwarder.dll
src/platform/windows/media_forwarder/obj/Debug/net10.0/refint/media_forwarder.dll
src/platform/windows/media_forwarder/obj/Debug/net10.0-windows/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
src/platform/windows/media_forwarder/obj/Debug/net10.0-windows/media_forwarder.AssemblyInfo.cs
src/platform/windows/media_forwarder/obj/Debug/net10.0-windows/media_forwarder.AssemblyInfoInputs.cache
src/platform/windows/media_forwarder/obj/Debug/net10.0-windows/media_forwarder.assets.cache
src/platform/windows/media_forwarder/obj/Debug/net10.0-windows/media_forwarder.GeneratedMSBuildEditorConfig.editorconfig
src/platform/windows/media_forwarder/obj/Debug/net10.0-windows/media_forwarder.GlobalUsings.g.cs
src/platform/windows/media_forwarder/obj/Debug/net10.0-windows10.0.19041.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
src/platform/windows/media_forwarder/obj/Debug/net10.0-windows10.0.19041.0/apphost
src/platform/windows/media_forwarder/obj/Debug/net10.0-windows10.0.19041.0/apphost.exe
src/platform/windows/media_forwarder/obj/Debug/net10.0-windows10.0.19041.0/media_fo.111E4765.Up2Date
src/platform/windows/media_forwarder/obj/Debug/net10.0-windows10.0.19041.0/media_forwarder.AssemblyInfo.cs
src/platform/windows/media_forwarder/obj/Debug/net10.0-windows10.0.19041.0/media_forwarder.AssemblyInfoInputs.cache
src/platform/windows/media_forwarder/obj/Debug/net10.0-windows10.0.19041.0/media_forwarder.assets.cache
src/platform/windows/media_forwarder/obj/Debug/net10.0-windows10.0.19041.0/media_forwarder.csproj.BuildWithSkipAnalyzers
src/platform/windows/media_forwarder/obj/Debug/net10.0-windows10.0.19041.0/media_forwarder.csproj.CoreCompileInputs.cache
src/platform/windows/media_forwarder/obj/Debug/net10.0-windows10.0.19041.0/media_forwarder.csproj.FileListAbsolute.txt
src/platform/windows/media_forwarder/obj/Debug/net10.0-windows10.0.19041.0/media_forwarder.dll
src/platform/windows/media_forwarder/obj/Debug/net10.0-windows10.0.19041.0/media_forwarder.GeneratedMSBuildEditorConfig.editorconfig
src/platform/windows/media_forwarder/obj/Debug/net10.0-windows10.0.19041.0/media_forwarder.genruntimeconfig.cache
src/platform/windows/media_forwarder/obj/Debug/net10.0-windows10.0.19041.0/media_forwarder.GlobalUsings.g.cs
src/platform/windows/media_forwarder/obj/Debug/net10.0-windows10.0.19041.0/media_forwarder.pdb
src/platform/windows/media_forwarder/obj/Debug/net10.0-windows10.0.19041.0/media_forwarder.sourcelink.json
src/platform/windows/media_forwarder/obj/Debug/net10.0-windows10.0.19041.0/ref/media_forwarder.dll
src/platform/windows/media_forwarder/obj/Debug/net10.0-windows10.0.19041.0/refint/media_forwarder.dll
src/platform/windows/media_forwarder/obj/Debug/net10.0-windows10.0.26100.1/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
src/platform/windows/media_forwarder/obj/Debug/net10.0-windows10.0.26100.1/media_forwarder.AssemblyInfo.cs
src/platform/windows/media_forwarder/obj/Debug/net10.0-windows10.0.26100.1/media_forwarder.AssemblyInfoInputs.cache
src/platform/windows/media_forwarder/obj/Debug/net10.0-windows10.0.26100.1/media_forwarder.assets.cache
src/platform/windows/media_forwarder/obj/Debug/net10.0-windows10.0.26100.1/media_forwarder.GeneratedMSBuildEditorConfig.editorconfig
src/platform/windows/media_forwarder/obj/Debug/net10.0-windows10.0.26100.1/media_forwarder.GlobalUsings.g.cs
src/platform/windows/media_forwarder/bin/Debug/net10.0/media_forwarder.deps.json
src/platform/windows/media_forwarder/bin/Debug/net10.0/media_forwarder.dll
src/platform/windows/media_forwarder/bin/Debug/net10.0/media_forwarder.exe
src/platform/windows/media_forwarder/bin/Debug/net10.0/media_forwarder.pdb
src/platform/windows/media_forwarder/bin/Debug/net10.0/media_forwarder.runtimeconfig.json
src/platform/windows/media_forwarder/bin/Debug/net10.0-windows10.0.19041.0/media_forwarder.deps.json
src/platform/windows/media_forwarder/bin/Debug/net10.0-windows10.0.19041.0/media_forwarder.dll
src/platform/windows/media_forwarder/bin/Debug/net10.0-windows10.0.19041.0/media_forwarder.exe
src/platform/windows/media_forwarder/bin/Debug/net10.0-windows10.0.19041.0/media_forwarder.pdb
src/platform/windows/media_forwarder/bin/Debug/net10.0-windows10.0.19041.0/media_forwarder.runtimeconfig.json
src/platform/windows/media_forwarder/bin/Debug/net10.0-windows10.0.19041.0/Microsoft.Windows.SDK.NET.dll
src/platform/windows/media_forwarder/bin/Debug/net10.0-windows10.0.19041.0/WinRT.Runtime.dll
